$primary: #0275d8;
$success: #5cb85c;
$info: #0070c9;
$danger: #d9534f;
$muted: #fafafa;
$white:white;
$black:black;
$dark-grey:#313131;
$grey:#ccc;


.bg-dark-grey{
    background-color: $dark-grey;
    
}

.bg-grey{
    background-color: $grey;
}

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg-primary{
    background-color: $primary;
}

.bg-success{
    background-color:$success;
}


.bg-info{
    background-color: $info;
}

.bg-danger{
    background-color:$danger;
}

.bg-muted{
    background-color:$muted;
}
