@import 'reset';
@import 'text';
@import 'margins';
@import 'colors';
@import 'border';

//variables
$columns:12;



.row {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: .5em;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        grid-column: span $i;
        
    }
}
@for $i from 1 through 12 {
    .col-sm-#{$i} {
        grid-column: span $i;

        @media (max-width: 720px) {
            grid-column: 1 /span 12;
        }

    }
}

.box {
    border: 1px solid red;
    padding: 1rem 0;
}

