@import 'reset';
@import 'text';
@import 'margins';
@import 'colors';
@import 'border';

//variables
$columns:12;



.row {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: .5em;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        grid-column: span $i;
        
    }
}

@for $i from 1 through $columns {

    .col-xs-#{$i}{
    
        @media (max-width: 767px) {
            grid-column: span $i;
        }
    
    }
    
    }
@for $i from 1 through $columns {

    .col-sm-#{$i}{
    
        @media only screen and (min-width: 768px) and (max-width: 991px) 
        {            grid-column: span $i;
        }
    
    }
    
    }

    @for $i from 1 through $columns {

        .col-md-#{$i}{
        
            @media only screen and (min-width: 992px) and (max-width: 1199px) 
            {
                grid-column: span $i;
            }
        
        }
        
        }
        
        @for $i from 1 through $columns {

            .col-lg-#{$i}{
            
                @media only screen and (min-width: 1200px) 
                {
                    grid-column: span $i;
                }
            
            }
            
            } 

.box {
    border: 1px solid red;
    padding: 1rem 0;
}

.nav-ul{
    display:flex;
    justify-content: space-evenly;
    padding:1em 3em;
    @media (max-width: 767px) {
    display: none;
    }
    @media only screen and (min-width: 768px) and (max-width: 1000px) 
{

}
    
    li{
        list-style: none;
        a{
            text-decoration: none;
            color:white;

            
        }
        a:hover{
            color:$muted;
        }
    }
   
}

.mini-nav{
    display: flex;
    justify-content:space-between;
    padding:1em 1em;

    li{
        list-style: none;
        a{
            text-decoration: none;
            color:white;

            i{
                font-size:1.5em;
            }
        }
        a:hover{
            color:$muted;
        }
    }
    @media (min-width: 767px) {

        display: none;
}
}
