@import 'reset';
@import 'text';
@import 'margins';
@import 'colors';
@import 'border';

//variables
$columns:12;



.row {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: .5em;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        grid-column: span $i;
    }
}

.box {
    border: 1px solid red;
    padding: 1rem 0;
}

.bg-white {
    background-color: yellow;
}

.bg-black {
    background-color: black;
}
