body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: normal;
}


    .text-center{
        text-align: center;
    }

    .text-left{
        text-align: left;
    }

    .text-right{
        text-align: right;
    }

    .text-bold{
        font-weight: bold;
    }

    .text-normal{
        font-weight: 400;
    }